<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2 class="wchd">Your new url is:</h2>
      <a href="https://shrturl-ar.herokuapp.com/i/{{short_url}}">
        https://shrturl-ar.herokuapp.com/i/{{short_url}}
      </a>
      <h3>Enjoy!</h3>
    </div>
    <footer>
      <p>
        By
        <a href="https://github.com/mishaosipovprodigy2">Abdul Rehman Aziz</a>
      </p>
    </footer>
  </body>
</html>